*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#181511;
}

.navbar{
    width: 100%;
    height: 80px;
    background: #181511;
    display: flex;
    align-items: center;
    padding: 0 120px;
}

.logo{
    font-size: 22px;
    color: #ffae2b;
    font-weight: 300;
}

.nav_collection{
    display: flex;
    list-style: none;
    flex: 1;}

.nav_item{
    margin-left: 40px;
}

.nav_item a{
    color: #aca592;
    text-decoration: none;
}

.active a{
    color: #ffae2b;
}

.nav_btn{
    width: 147px;
    height: 52px;
    border: 1px solid #FFAE2B;
    background: transparent;
    color: #ffae2b;
    text-transform: uppercase;
}

.banner{
    width: 100%;
    height: 602px;
    background: url("IMAGE.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner h3{
    color: #FFAE2B;
    padding-top: 120px;
    padding-bottom: 15px;
    font-weight: 300;
}

.banner h1{
    font-size: 70px;
    font-weight: 300;
    color: #fff;
}

.banner_btn{
    width: 143px;
    height: 50px;
    background: #ffae2b;
    border: none;
    margin-top: 49px;
}

.our_core{
    text-align: center;
    color: #ACA592;
    font-weight: 300;
    padding-top: 120px;
    padding-bottom: 10px;
    font-weight: 300;
}

.template{
    text-align: center;
    color: #ffae2b;
    font-size: 60px;
    font-weight: 300;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1241px;
    margin: 60px auto;
    justify-content: space-evenly;
}

.wrapper_item{
    width: 387px;
    height: 315px;
    border: 1px solid #4B4136;
    margin-bottom: 20px;
    padding: 41px;
}

.wrapper_item img{
    width: 100%;
}

.wrapper_item p{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.rasm{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background: url("IMAGE\ \(22\).png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.boxes{
    display: flex;
    justify-content: center;
}

.box{
    width: 387px;
    height: 315px;
    margin-top: 50px;
    margin-bottom: 70px;   
    border: 1px solid #ffae2b;    
}

.box img{
    margin: 40px 0 0 40px;
}

.box h1{
    color: #ffae2b;
    font-weight: 300;
    margin: 15px 0 10px 40px;
}

.box p{
    color: #ddd;
    margin: 10px 0 0 40px;
    line-height: 2;
}

.lorem17{
    text-align: center;
    color: #fff;
    margin: 50px ;
    line-height: 2;
}

.black_gold{
    margin: 0 0 0 460px;
}

.black{
    border: 1px solid #4B4136;
    width: 420px;
    height: 50px;
}

.gold{
    width: 420px;
    height: 50px;
    background-color: #ffae2b;
}

.hr{
    margin: 0 70px 0 70px;
    color: #ddd;
}

.avtor{
    display: flex;
    margin: 30px 70px;
    justify-content: space-between;
}

.insta{
    width: 100%;
    height: 282px;
    border: 1px solid #ffae2b;
    margin: 50px 0;
    display: flex;
}

.insta h1{
    width: 217;
    height: 240px;
    margin: 21px 0;
}

.image_23{
    padding-left: 120px;
}

.image_25{
    padding-left: 0;
}

.vector{
    padding: 0px 30px 41px 30px;
}